= form_for @label, as: :label, url: url, html: { class: 'label-form js-quick-submit js-requires-input' } do |f|
  = form_errors(@label)

  .form-group.row
    = f.label :title, class: 'col-form-label col-sm-2'
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true, autofocus: true
  .form-group.row
    = f.label :description, class: 'col-form-label col-sm-2'
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit"
  .form-group.row
    = f.label :color, "Background color", class: 'col-form-label col-sm-2'
    .col-sm-10
      .input-group
        .input-group-prepend
          .input-group-text.label-color-preview &nbsp;
        = f.text_field :color, class: "form-control"
      .form-text.text-muted
        Choose any color.
        %br
        Or you can choose one of the suggested colors below

      .suggest-colors
        - suggested_colors.each do |color|
          = link_to '#', style: "background-color: #{color}", data: { color: color } do
            &nbsp;

  .form-actions
    - if @label.persisted?
      = f.submit 'Save changes', class: 'btn btn-success js-save-button'
    - else
      = f.submit 'Create label', class: 'btn btn-success js-save-button'
    = link_to 'Cancel', back_path, class: 'btn btn-cancel'
